h1 {
    text-align: center;
}

#container {
    width: 600px;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    flex-wrap: wrap;
    margin: 0 auto;
}

img:hover {
    box-shadow: 5px 5px #D3D3D3;
}

#counter {
    text-align: center;
}
